/* mulish-300 - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/mulish-v3-latin-300.woff2') format('woff2'),
         url('../fonts/mulish-v3-latin-300.woff') format('woff'); 
  }
  /* mulish-regular - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/mulish-v3-latin-regular.woff2') format('woff2'),
         url('../fonts/mulish-v3-latin-regular.woff') format('woff'); 
  }
  /* mulish-700 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/mulish-v3-latin-700.woff2') format('woff2'),
         url('../fonts/mulish-v3-latin-700.woff') format('woff'); 
  }